body {
  color: #2D3748;
  -font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",Roboto
  "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 18px;
}


.kieranPic {
  border-radius: 70%;
  height: 20%;
  width: 20%;
}

.picSize1 {
  float: right;
  height: 15%;
  width: 15%;
}

.picSize2 {
  float: left;
  height: 15%;
  width: 15%;
}

.lrclear {
  clear: both;
}
