.kieranPic {
  border-radius: 70%;
  height: 20%;
  width: 20%;
}

.picSize1 {
  float: right;
  height: 15%;
  width: 15%;
}

.picSize2 {
  float: left;
  height: 15%;
  width: 15%;
}

.lrclear {
  clear: both;
}
