.kieranPic {
  border-radius: 70%;
  height: 10%;
  width: 10%;
}

.picSize1 {
  float: right;
  height: 8%;
  width: 8%;
}

.picSize2 {
  float: left;
  height: 8%;
  width: 8%;
}

.lrclear {
  clear: both;
}
